    <article class="card">
			<img src={{image}} alt="1" class="card__img">
			<div class="card_head">
				<p><span class="bold">{{date}}</span></p>
				<p class="place">Arène<br> Marchand</p>
			</div>
			<div class="card_body">
				<h3 class="card_title">{{title}}</h3>
				<div class="card_tags">
					<p class="tag RnB">RnB</p>
					<p class="tag Rap">Rap</p>
					<p class="tag Metal">Metal,Hard Rock</p>
				</div>
			</div>
		</article>