@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
.genres {
  align-items: center;
  color: #151515;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: space-around;
  margin: 0 auto;
  width: 100%;
}
.genres .genre_card {
  align-items: center;
  aspect-ratio: 1/1;
  background-image: url("../assets/img/rnb.jpg");
  border-radius: 1em;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-basis: calc(33% - 2em);
  position: relative;
}
.genres .genre_card a {
  align-items: center;
  color: black;
  display: flex;
  justify-content: center;
  font-size: 4em;
  font-style: italic;
  height: 100%;
  line-height: 100%;
  text-decoration: none;
  width: 100%;
  z-index: 2;
}
.genres .genre_card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 60%;
  z-index: 1;
  border-radius: 20px;
}
.genres .genre_card:nth-child(1)::before {
  background-color: #F35DD8;
}
.genres .genre_card:nth-child(2)::before {
  background-color: #5DF3AB;
}
.genres .genre_card:nth-child(3)::before {
  background-color: #F3EC5D;
}
.genres .genre_card:nth-child(4)::before {
  background-color: #5D71F3;
}
.genres .genre_card:nth-child(5)::before {
  background-color: #F3AB5D;
}
.genres .genre_card:nth-child(6)::before {
  background-color: #F35D5D;
}

.navbar {
  align-items: center;
  color: #FFF;
  display: flex;
  font-family: "Instrument Serif", serif;
  justify-content: space-between;
  height: 10vh;
  margin: 0 1em;
}
.navbar .navbar_right {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.navbar .navbar_right .menu {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.navbar .navbar_right .menu li {
  list-style: none;
}
.navbar .navbar_right .menu li a {
  color: #FFF;
  font-size: 1.2rem;
  text-decoration: none;
  transition: color 0.3s;
}
.card {
  color: #FFF;
  width: 12em;
  height: 22em;
  z-index: 2;
  position: relative;
  border-radius: 20px;
}
.card.card_place {
  width: 100%;
}
.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(360deg, rgb(0, 0, 0) 0%, rgba(255, 255, 255, 0) 76%, rgb(0, 0, 0) 100%);
  z-index: 1;
  border-radius: 20px;
}
.card img {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.card .card_head {
  position: absolute;
  display: flex;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  color: white;
  width: 100%;
  font-size: 1.1rem;
  z-index: 2;
}
.card .card_head .bold {
  font-weight: 600;
}
.card .card_head .place {
  font-size: 1em;
  text-align: right;
}
.card .card_head p {
  margin-inline: 1em;
}
.card .card_body {
  position: absolute;
  bottom: 0.3em;
  left: 0.1em;
  width: 50%;
  margin: 0.7em;
  z-index: 2;
}
.card .card_body * {
  margin: 0;
}
.card .card_body .card_title {
  font-size: 1.8rem;
  font-weight: 600;
  border-bottom: 1px solid white;
  margin-bottom: 0.3em;
}
.card .card_body .card_tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.2em;
}
.card .card_body .card_tags .tag, .card .card_body .card_tags .Downtempo, .card .card_body .card_tags .Synthpop, .card .card_body .card_tags .Classical, .card .card_body .card_tags .House, .card .card_body .card_tags .World, .card .card_body .card_tags .Music, .card .card_body .card_tags .Soul, .card .card_body .card_tags .Piano, .card .card_body .card_tags .Chanson, .card .card_body .card_tags .Pop, .card .card_body .card_tags .Electro, .card .card_body .card_tags .Metal, .card .card_body .card_tags .Rock, .card .card_body .card_tags .R\&B, .card .card_body .card_tags .Rap, .card .card_body .card_tags .Hip, .card .card_body .card_tags .Hop, .card .card_body .card_tags .Indie, .card .card_body .card_tags .Zouk, .card .card_body .card_tags .Reggae {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.5em;
  border-radius: 10px;
  color: #151515;
  opacity: 80%;
}

.R\&B, .Rap, .Hip, .Hop, .Indie, .Zouk, .Reggae {
  background-color: #F35DD8;
}

.Metal, .Rock {
  background-color: #F3AB5D;
}

.Electro {
  background-color: #5DF3AB;
}

.Piano, .Chanson, .Pop {
  background-color: #F3EC5D;
}

.House, .World, .Music, .Soul {
  background-color: #5D71F3;
}

.Downtempo, .Synthpop, .Classical {
  background-color: #F35D5D;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 2em;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
}

section {
  display: flex;
  flex-direction: column;
  width: 100%;
}
section h2 {
  font-size: 2.5em;
  font-weight: 400;
  text-align: center;
  border-bottom: white 1px solid;
  margin: 0.75em auto;
  width: 80%;
}

.cart {
  position: relative;
  width: 100%;
}
.cart h2 {
  border-bottom: 0.5px solid white;
  font-style: italic;
  font-weight: lighter;
  text-align: center;
  margin: 0 auto;
  padding: 1em 0;
  width: 90%;
}
.cart h3 {
  font-family: "Inter", sans-serif;
  font-size: 1em;
  font-style: italic;
  font-weight: 200;
  margin: 2em auto;
  padding: 0.5em 0;
  border-top: 0.5px solid white;
  width: 90%;
}
.cart .cart_nametags {
  background-color: orange;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.cart .cart_nametags p {
  font-family: "Inter", sans-serif;
  font-style: italic;
  font-weight: 200;
}
.cart .cart_item {
  align-items: center;
  display: flex;
  gap: 5em;
  padding: 1em 0;
  margin: 0 auto;
  width: 90%;
}
.cart .cart_item img {
  border-radius: 2em;
  width: 175px;
  height: 350px;
  object-fit: cover;
}
.cart .cart_item .cart_item_desc_title {
  display: flex;
  flex-direction: column;
}
.cart .cart_item .cart_item_desc_title .cart_item_title_desc {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.cart .cart_item .cart_item_desc_title .cart_item_desc {
  display: flex;
  flex-direction: row;
}
.cart .cart_item .cart_item_desc_title .cart_item_desc .cart_item_options {
  display: flex;
  flex-direction: column;
}
.cart .cart_item .cart_item_desc_title .cart_item_desc .cart_item_options .cart_item_otpions_title {
  font-size: 1.25em;
}
.cart .cart_item .cart_item_desc_title .cart_item_desc .cart_item_options .cart_item_otpions_date {
  font-family: "Inter", sans-serif;
  font-size: 0.75em;
  font-weight: 300;
}
.cart .cart_item .cart_item_desc_title .cart_item_desc .cart_item_options .cart_item_otpions_type {
  font-family: "Inter", sans-serif;
  font-style: italic;
  font-weight: 200;
  margin: 0.1em 0;
}
.cart .cart_item .cart_item_desc_title .cart_item_price {
  font-family: "Inter", sans-serif;
  font-style: italic;
  font-weight: 200;
  margin-left: 1em;
}
.cart .cart_payment {
  align-items: flex-end;
  display: flex;
  font-family: "Inter", sans-serif;
  gap: 5em;
  bottom: 0;
  right: 0;
  position: absolute;
}
.cart .cart_payment button {
  background-color: #5DF3AB;
  border-radius: 16px;
  font-family: "Instrument Serif", serif;
  font-size: 1em;
  height: fit-content;
  padding: 0.1em 2em;
  width: fit-content;
}
.cart .cart_payment .cart_payment_calculus {
  display: flex;
  font-style: italic;
  justify-content: flex-start;
  flex-direction: column;
  margin: 0;
  width: 15em;
}
.cart .cart_payment .cart_payment_calculus p:nth-child(2) {
  font-style: italic;
  font-weight: 200;
}
.cart .cart_payment .cart_payment_calculus p {
  margin: 0;
}
.cart .cart_payment .cart_payment_calculus span {
  border-top: 0.5px solid white;
  font-size: 1.25em;
  font-style: normal;
  font-weight: 400;
  width: 100%;
}

.validate_order {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.validate_order img {
  width: 5%;
  height: auto;
}
.validate_order p {
  margin: 0;
  font-size: 3em;
  font-family: "Instrument Serif", serif;
  font-style: italic;
}
.validate_order span {
  font-family: "Inter", sans-serif;
  font-size: 1em;
  font-weight: 300;
  text-align: center;
}

.party {
  margin: 0 auto;
  width: 80%;
}
.party h2 {
  text-align: center;
  word-spacing: 4px;
}
.party h2 span {
  color: #F3EC5D;
  font-size: 1.5em;
  font-style: italic;
}
.party p {
  font-size: 1.5em;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #151515;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}
.loader .loader__spinner {
  width: 50px;
  height: 50px;
  border: 3px solid #FFF;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.filters {
  display: flex;
  justify-content: flex-end;
  gap: 0.5em;
  list-style-type: none;
  margin: 0 auto;
  margin-bottom: 0.75em;
  width: 75%;
}
.filters select {
  background-color: #151515;
  border: none;
  color: #FFF;
  font-family: "Inter", sans-serif;
  font-size: 0.75em;
  font-weight: 300;
  gap: 10px;
  text-align: center;
}
.filters select #calendar {
  background-color: #151515;
}
.filters select option {
  font-size: 0.75em;
}

.login {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  gap: 2em;
}
.login input {
  background-color: #151515;
  color: #FFF;
  border-style: none;
  border: solid white 1px;
  border-radius: 20px;
  padding: 1em;
  width: 35em;
  height: 3em;
}
.login input:focus {
  outline: none;
}
.login button {
  background-color: #151515;
  color: #FFF;
  border-style: none;
  border: solid white 1px;
  border-radius: 20px;
  padding: 1em;
  width: 20em;
  height: 3em;
}
.login button:hover {
  background-color: #FFF;
  color: #151515;
  transition: all 0.3s;
}
.login p a {
  text-decoration: none;
  color: beige;
}

body {
  background-color: #151515;
  color: #FFF;
  font-family: "Instrument Serif", serif;
  font-size: 1.6rem;
  line-height: 1.5;
}

/*# sourceMappingURL=style.css.map */
