@import 'partials/config';
@import 'partials/genres';
@import 'partials/header';
@import 'partials/card';
@import 'partials/title_section';
@import 'partials/cart';
@import 'partials/validate';
@import 'partials/party';
@import 'partials/loader';
@import 'partials/filters';
@import 'partials/login';
@import 'partials/details';
@import 'partials/ticket';


body {
    background-color: $bg_color;
    color: $text_color;
    font-family: $font_serif;
    font-size: 1.6rem;
    line-height: 1.5;
}

.way{
    &:hover{
        cursor:pointer;
        transition: all 0.3s;
    }
}

