@import 'partials/config';
@import 'partials/genres';
@import 'partials/header';
@import 'partials/card';
@import 'partials/title_section';
@import 'partials/cart';


body {
    background-color: $bg_color;
    color: $text_color;
    font-family: $font_serif;
    font-size: 1.6rem;
    line-height: 1.5;
}

