<!--Panier-->
<section>
  <h2>Votre panier :</h2>
  <div class="container">
    <div class="cart">
      <div class="cart_item">
        <img src="/assets/img/singer.jpg" alt="Chanteur"/>
        <div class="cart_item_desc_title">
          <div class="cart_item_title_desc">
            <p>Nom</p>
            <p>Prix</p>
          </div>
          <div class="cart_item_desc">
            <div class="cart_item_options">
              <span class="cart_item_options_title">Soirée Lorem Ipsum</span>
              <span class="cart_item_options_date">Samedi 23 Mai 2024.</span>
              <span class="cart_item_options_type">1x ticket - All pass</span>
            </div>
            <p class="cart_item_price">25.00€ HT</p>
          </div>
        </div>
      </div>

      <div class="cart_payment">
        <div class="cart_payment_calculus">
          <p>Sous-total :</p>
          <p>TTC :</p>
          <span>Total :</span>
        </div>
        <button> >Payer</button>
      </div>
    </div>
  </div>
</section>
