<section>
    <h2 class="section__title">Connectez-vous !</h2>
    <div class="login">
        <p id="error_message">Erreur lors de la connexion à NancyRockVibration, veuillez réessayer. <br>Si vous n'avez pas de compte, cliquez ci-dessous.</p>
        <input type="text" placeholder="Email" autocomplete="email">
        <input type="password" placeholder="Mot de passe" autocomplete="current-password">
        <button onclick="login()">Se connecter</button>
        <p>vous n'avez pas de compte ?  <span class="way" url="/signup">-> Créez-en un ici <-</span></p>
    </div>
    <script type="module" src="/js/login.js" class="main-page-script" defer></script>
</section>
