<!--Panier-->
<section>
  <div class="loader">
    <div class="loader__spinner"></div>
  </div>
  <h2>Résumé de votre commande :</h2>
  <div class="container cart_container" id="cart_template">
    <div class="cart">
      <p class="error_message">Erreur lors de la récupération du panier. <br>Veuillez actualiser la page.</p>

      {{#if cart.tickets.length}}
      {{#each cart.tickets}}
      <div class="cart_item">
        <img src="/assets/img/singer.jpg" alt="Chanteur"/>
        <div class="cart_item_desc_title">
          <div class="cart_item_title_desc">
            <p>Nom</p>
            <p>Prix</p>
          </div>
          <div class="cart_item_desc">
            <div class="cart_item_options">
              <span class="cart_item_options_title">{{this.name}}</span>
              <span class="cart_item_options_date"></span>
              <span class="cart_item_options_type">{{this.quantity}} ticket</span>
            </div>
            <p class="cart_item_price">{{this.price}}€ TTC</p>
          </div>
        </div>
      </div>
      {{/each}}

      <div class="cart_payment">
        <div class="cart_payment_calculus">
          <p>Sous-total : {{cart.price_HT}}€</p>
          <p>TVA : {{cart.tva}}€</p>
          <span>Total : {{cart.total_price}}€</span>
        </div>
        <button class="validate_order" onclick="route()"> >Confirmer votre commande</button>
      </div>
      {{else}}
      <p>Votre panier est vide.</p>
      {{/if}}

    </div>
  </div>
</section>
<script type="module" src="../js/confirm_order.js" class="main-page-script" defer></script>


