<section>
  <h1>Section de paiement</h1>
  <!-- "num_cb": "1111 1111 1111 1111",
    "date_exp": "2025",
    "code": "200" -->

  <label for="cb_number">Numéro de carte bancaire :</label>
  <input type="text" name="cb_number" id="cb_number">

  <label for="expiration_date">Date d'expiration :</label>
  <input type="text" name="expiration_date" id="expiration_date">

  <label for="cvc_number">CVC :</label>
  <input type="text" name="cvc_number" id="cvc_number">

  <button class="validate_payment"> >Valider le paiement</button>

</section>
<script type="module" src="../js/validate_payment.js" class="main-page-script" defer></script>
