<section>
  <h1>Section de paiement</h1>
  <!-- "num_cb": "1111 1111 1111 1111",
    "date_exp": "2025",
    "code": "200" -->

  <label for="cb_number">Numéro de carte bancaire :</label>
  <input type="text" name="cb_number" value="">

  <label for="expiration_date">Date d'expiration :</label>
  <input type="text" name="expiration_date" value="">

  <label for="cvc_number">CVC :</label>
  <input type="text" name="cvc_number" value="">

  <button class="validate_order"> >Valider le paiement</button>

</section>
