<section>
    <h2>Bienvenue {{tim}}</h2>
    <h3>Voici tous vos tickets :</h3>
<div class="container">
    {{#each tickets}}
    <div class="ticket">
        <img src="./images/M.jpg" alt="1" class="card_img">
        <div class="ticket_content">
            <h3 class="ticket_title">{{ticket.title}}</h3>
            <p><span class="sans">Date : {{ticket.date.date}}</span></p>
            <p><em>Lieu :{{ticket.place.name}}</em></p>
            <p class="ticket_price">Prix : {{ticket.prices}} €</p>
        </div>
    </div>

    {{/each}}
</div>
</section>

<script type="module" class="main-page-script">console.log('ajoute src')</script>