
<div class="loader">
  <div class="loader__spinner"></div>
</div>

<section id="ShowInfo">
  <h2>Soirée : {{party.[0].name}}</h2>

  <div class="container" >
      <article class="card card_place">
        <img src="./{{party.[0].place.images.0.self.href}}" alt="1" class="card_img">
        <div class="card_head">
          <p><span class="bold">{{party.[0].date.date}}</span></p>
          <p class="place">{{party.[0].place.name}}</p>
        </div>
        <div class="card_body">
          <h3 class="card_title">{{party.[0].title}}</h3>
        </div>
      </article>
  </div>

  <section>
    <h2>Les Spectacles de ce soir</h2>

    <div class="container" id="templateShow">

        {{#each party.[0].shows}}
      <article class="card" data-id="{{this.id}}">
        <img src="{{this.images.0.self.href}}" alt="1" class="card_img">
        <div class="card_head">
          <p><span class="bold">{{this.date.date}}</span></p>
          <p >{{this.place.name}}</p>
        </div>
        <div class="card_body">
          <h3 class="card_title">{{this.title}}</h3>
        </div>
      </article>
        {{/each}}

    </div>
  </section>

  <section>
    <h2>Détails</h2>
    <div class="details">
      <div class="gauge-container">
      <label>Nombres de place réservées : {{party.[0].gauge.party.spectator_gauge}}</label>
      <progress max="100000" value="{{party.[0].gauge.party.spectator_gauge}}"></progress>
    </div>
      <p> heure de début de la soirée : {{party.[0].begin.date}}</p>
      <p> Adresse de la soirée : {{party.[0].place.address}}</p>
      <p>Theme de la soirée : {{party.[0].theme}} </p>

      <div class="tickets">
        {{#each party.tickets}}
        <div class="ticket_price" data-id="">
          <p> Prix du billet : {{this.price}} €</p>
          <p>Quantité de billets restants : {{this.quantity}}</p>
          <button class="add_to_cart"">Ajouter au panier</button>
        </div>
        {{/each}}
      </div>
    </div>

  </section>

</section>

<script type="module" src="/js/fetchShowInfo.js" class="main-page-script" defer></script>
<script type="module" src="../js/addToCart.js" class="main-page-script" defer></script>

