
<div class="loader">
    <div class="loader__spinner"></div>
</div>
<section>
  <h2>Les Spectacles Disponibles</h2>
  
  <div class="container" id="templateShow"> 

      {{#each shows}}
      <span class="way" data-id="/showInfo">
      <article class="card" data-id="{{this.id}}">
        <img src="{{this.images.0.self.href}}" alt="1" class="card_img">
        <div class="card_head">
          <p><span class="bold">{{this.date.date}}</span></p>
        </div>
        <div class="card_body">
          <h3 class="card_title">{{this.title}}</h3>
        </div>
      </article>
      </span>
      {{/each}}

  </div>
</section>

<section>
  <h2>Artistes :</h2>

  <div class="container" id="templateArtist">
    {{#each shows}}
    <article class="card">
      <img src="/images/{{this.image.self.href}}" alt="1" class="card_img">
      <div class="card_head">
      </div>
      <div class="card_body">
        <h3 class="card_title">{{this.name}}</h3>
        <div class="card_tags">
          <p class="tag {{this.style}}">{{this.style}}</p>
        </div>
      </div>
    </article>
    {{/each}}
  </div>

</section>


<script type="module" src="./js/router.js" defer></script>
<script type="module" src="./js/fetchArtists.js" class="main-page-script" defer></script>
<script type="module" src="./js/fetchShows.js" class="main-page-script" defer></script>

