
<div class="loader">
  <div class="loader__spinner"></div>
</div>

<section id="ShowInfo">
  <h2>{{party.[0].name}}</h2>

  <div class="container" >
      <article class="card">
        <img src="./{{party.[0].shows.[0].images.[0].self.href}}" alt="1" class="card_img">
        <div class="card_head">
          <p><span class="bold">{{party.[0].date.date}}</span></p>
          <p class="place">{{party.[0].place.name}}</p>
        </div>
        <div class="card_body">
          <h3 class="card_title">{{party.[0].title}}</h3>
        </div>
      </article>
  </div>   
</section>

<script type="module" src="/js/router.js" defer></script>
<script type="module" src="/js/fetchShowInfo.js" class="main-page-script"></script>
