<section>
    <h2 class="section__title">Nouveau ?!</h2>
    <div class="login">
        <input type="text" placeholder="Username">
        <input type="password" placeholder="Password">
        <input type="password" id="confirm" placeholder="Confirm Password">
        <button onclick="signup()">signup</button>
        <p>vous avez déjà un compte ? <span class="way" url="/login">-> Connectez-vous <-</span></p>
    </div>
    <script type="module" src="./js/signup.js" class="main-page-script" defer></script>
</section>