
      <div class="loader">
        <div class="loader__spinner"></div>
      </div>

      <section>
        <h2>Artistes Présent aux NRV:</h2>

    <div class="pagination">
            <button class="btn" id="prev">Précédent</button>
            <p><span id="page"></span> / <span id=maxPage></span></p>
            <button class="btn" id="next">Suivant</button>
          </div>
      <div class="container" id="templateArtist">

      

          {{#each shows}}
          <article class="card">
            <img
              src="/images/{{this.image.self.href}}"
              alt="1"
              class="card_img"
            />
            <div class="card_body">
              <h3 class="card_title">{{this.name}}</h3>
              <div class="card_tags">
                <p class="tag {{this.style}}">{{this.style}}</p>
              </div>
            </div>
          </article>
          {{/each}}
        </div>
      </section>
      <!-- Genres
      <section>
        <h2>Et par style ?</h2>
        <div class="container">
          <div class="genres">
            <div class="genre_card rnb">
              <a href="">RnB</a>
            </div>

            <div class="genre_card rap">
              <a href="">Rap</a>
            </div>

            <div class="genre_card soul">
              <a href="">Soul</a>
            </div>

            <div class="genre_card pop">
              <a href="">Pop</a>
            </div>

            <div class="genre_card rock">
              <a href="">Rock</a>
            </div>

            <div class="genre_card metal">
              <a href="">Metal</a>
            </div>
          </div>
        </div>
      </section> -->

    <script
      type="module"
      src="./js/fetchArtists.js"
      class="main-page-script"
      defer
    ></script>
  </body>
</html>
