@use 'config';

.card {
  color: $text_color;
  width: 16em; //!
  height: 800px; //!
  z-index: 2;
  position: relative;
  border-radius: 20px;

  &.card_place{
    width: 100%;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(360deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 76%, rgba(0,0,0,1) 100%);
    z-index: 1;
    border-radius: 20px;
  }

  img{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }

  .card_head{
    position: absolute;
    display: flex;
    justify-content: space-between;
    font-family: $font_sans;
    font-weight: 300;
    color: white;
    width: 100%;
    font-size: 1.2rem;
    z-index: 2;
    .bold{
      font-weight: 600;
    }
    .place{

      text-align: right;
    }
    p{
      margin-inline: 1em;
    }
  }

  .card_body{
    position: absolute;
    bottom: 30px;
    left: 10px;
    width:50%;
    margin: 1em;
    z-index: 2;
    *{
      margin: 0;
    }
    .card_title{
      font-size: 1.8rem;
      font-weight: 600;
      border-bottom: 1px solid white;
      margin-bottom: 0.3em;
    }
    .card_tags{
      display: flex;
      flex-wrap: wrap;
      gap: 0.2em;
      .tag{
        font-size: 1.2rem;
        font-weight: 600;

        padding: 0.5em;
        border-radius: 10px;
        color: $bg_color;
        opacity: 80%;
      }
    }
  }
}

.RnB{
  @extend .tag;
  background-color: $color_pink;
}
.Rap{
  @extend .tag;
  background-color: $color_green;
}
.Metal{
  @extend .tag;
  background-color: $color_orange;
}
