//Config globale
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


/////////// Fonts :///////////
$font_serif: 'Instrument Serif', serif;
$font_sans: 'Inter', sans-serif;

/////////// Variables :///////////

$bg_color: #151515;
$text_color: #FFF;

// Couleurs par genre de musique :

$color_pink: #F35DD8; //> RnB
$color_green:#5DF3AB; //> Rap
$color_yellow: #F3EC5D; //> Soul
$color_purple: #5D71F3; //> Pop
$color_orange: #F3AB5D; //> Rock
$color_red: #F35D5D; //> Metal

/////////// Fin Variables ///////////
