@import 'config';

.details{
    @extend .container;
    flex-direction: column;
    justify-content: left;
    margin-block: 2rem;
    p{
        font-size: 1.8rem;
        margin: 0;
        font-family: $font_sans;
    }
    button{
        margin-top: 1rem;
        padding: 1rem 2rem;
        font-size: 1.8rem;
        width: 5em;
        font-family: $font_sans;
        background-color: $text_color;
        color: $bg_color;
        border: none;
        cursor: pointer;
        &:hover{
            background-color: $text_color;
        }
    }
}