@import 'config';

.filters{
  display: flex;
  justify-content: flex-end;
  gap: .5em;
  list-style-type: none;
  margin: 0 auto;
  margin-bottom: .75em;
  width: 75%;

  select{
    background-color: $bg_color;
    border: none;
    color: $text_color;
    font-family: $font_sans;
    font-size: .75em;
    font-weight: 300;
    gap: 10px;
    text-align: center;

    #calendar{
      background-color: $bg-color;
    }

    option{
      font-size: .75em;
    }
  }
}
