@use 'config';

.filters{
  @include respond-to(small){
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  display: flex;
  justify-content: center;
  gap: 1em;
  list-style-type: none;
  margin:1em 0  1em 0 ;
  padding: 0;
  width: 100%;

  select{
    @include respond-to(small){
      height: 4em;
      width: 18em;
    }
    background-color: $bg_color;
    border: none;
    color: $text_color;
    font-family: $font_sans;
    font-size: 0.7em;
    font-weight: 300;
    gap: 10px;
    text-align: center;
    option{
      font-size: 0.7em;
    } 
  }
  #calendar{
      @include respond-to(small){
        height: 4em;
        width: 18em;
        font-size: 0.7em;
      font-weight: 300;
      border-radius: 10px;
      }
      background-color: $bg_color;
      color: $text_color;
      font-family: $font_sans;
      border-radius: 5px;
      text-align: center;
    }
}
