

.navbar {
  @include respond-to(small) {
    h1{
      font-size: 0.8em;
    }
  }
  align-items: center;
  color: $text_color;
  display: flex;
  font-family: $font_serif;
  justify-content: space-between;
  height: 10vh;
  margin: 0 1em;
  z-index: 100;
}

