.container {
  display: flex;
  flex-direction: row;
  gap: 2em;
  flex-wrap: wrap;
  justify-content: center;
  h2{
    font-size: 2.5em;
    margin: 1em 0;
    font-weight: 400;
    text-align: center;
  }
}
