.container {
  display: flex;
  flex-direction: row;
  gap: 3em;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
  margin-bottom: 2em;
}

section {
  display: flex;
  flex-direction: column;
  width: 100%;
  h2{
    font-size: 2.5em;
    font-weight: 400;
    text-align: center;
    border-bottom: white 1px solid;
    margin: .75em auto;
    width: 80%;
  }
  h3{
    font-size: 2em;
    font-weight: 400;
    text-align: center;
    margin: 1em auto;
  }
}
